# APP
DATABASE_URL="mysql://root:pw@localhost:3306/ti_umc"
PORT=9090
NODE_ENV=development
JWT_SECRET="generate secret key"
BASE_URL="http://localhost:9090"

# DB
MYSQL_DATABASE=ti_umc
MYSQL_ROOT_PASSWORD=pw

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:9090/api/v1/auth/google/callback"

# URL
CLIENT_URL="http://localhost:3000"

# File
UPLOAD_ALLOWED_MIME=application/pdf # pisahkan dengan koma jika lebih dari satu
UPLOAD_MAX_FILE_SIZE=2097152 # 2MB
UPLOADS_PATH=uploads

# Initial Admin
INITIAL_ADMIN_NAME="admin"
INITIAL_ADMIN_EMAIL="admin@mail.co.id"
INITIAL_ADMIN_PASSWORD="12345678"

# Cookie
COOKIE_DOMAIN=.tiumc.com

# Allowed Origins
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5000
