services:
  db:
    image: mysql:5.7
    container_name: it-umc-be-mysql
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3309:3306"
    volumes:
      - mysqldata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: it-umc-backend
    env_file:
      - .env
    environment:
      DATABASE_URL: mysql://root:${MYSQL_ROOT_PASSWORD}@it-umc-be-mysql:3306/${MYSQL_DATABASE}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}
      NODE_ENV: ${NODE_ENV}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "9090:9090"
    command: sh -c "pnpm prisma migrate deploy && pnpm run start"

volumes:
  mysqldata:
